*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: lightblue;
    height: 400px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    border: 1px solid rgb(178, 178, 178);
    margin-top: 50px;
    box-shadow: 5px 5px 10px rgb(178, 178, 178);
    border-radius: 10px;
}

.left_content{
    width: 40%;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px 0 20px;
}

.logo{
    width: 100%;
    color: blue;
    display: flex;
    font-size: xx-large;
}

.Desc{
    padding-top: 2px;
    width: 100%;
    font-size: small;
}

.right_content{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px 0 20px;
}

.line{
    border: 1px solid black;
    margin: 5px;
}

input{
    width: 100%;
}

button{
    width: 100%;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    color: white;   
}